.seccion{
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 2rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.seccion:hover{
  background-color: #e0e0e0;
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.logo-container img{
  max-width: 120px;
  height: auto;
}
.navbar-toggle {
  font-size: 30px;
  cursor: pointer;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 20px;
  text-align: right;
}
.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin: 10px 0;
  display: block;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.social-icons img {
  width: 24px;
  height: 24px;
}
.mobile-menu.active {
  display: flex;
}
.seccion {
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
}
.seccion:hover {
  color: #007bff;
  text-decoration: underline;
}
.seccion-web {
  font-size: 20px; 
  padding: 20px 25px;
  background-color: #eaeaea;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}
.seccion-web:hover {
  background-color: #d3b530;
  text-decoration: none;
  color: #007bff;
  transform: scale(1.05);
}
.bg-amarillo {
  background-color: #d3b530;
}